* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  justify-content: center;
  /* background-color: aqua; */
}

.wrapper-background {
  width: 1000px;
  background-image: url(./waianapanapa-beach-royalty-free-image-1712088126.avif);
  background-repeat: no-repeat;
}

header {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  text-transform: uppercase;
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 0.5rem;
  font-weight: 400;
  letter-spacing: 4px;
  font-family: Arial, sans-serif;
}

.border {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  padding-left: 8px;
  padding-right: 8px;
  border: 1px solid white;
}

.main {
  height: 900px;
  /* background-color: rgb(13, 14, 13); */
  display: flex;
  align-items: end;
  justify-content: center;
  position: relative;
}
.box {
  height: 150px;
  width: 250px;
  position: absolute;
  top: 250px;
  left: 200px;
}

.main h1 {
  color: white;
  font-size: 3rem;
}

.main h4 {
  text-transform: uppercase;
  color: rgb(255, 251, 1);
  font-weight: 300;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.main hr {
  width: 7%;
}

.box2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(160, 158, 158);
  /* background-color: black; */
  height: 250px;
  width: 350px;
  gap: 0.5rem;
}
h2 {
  color: white;
  font-size: 2.5rem;
}

h6 {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: 2px;
  color: rgb(160, 158, 158);
}

.box2 p {
  margin-top: 1rem;
}

.section2 {
  margin-top: 9rem;
  height: 600px;
  width: 100%;
  background-color: rgb(51, 51, 51);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(160, 158, 158);
  /* background-color: black; */
  height: 200px;
  width: 350px;
  gap: 0.5rem;
}

.box1 hr {
  width: 20%;
  margin-top: 2rem;
}

.images {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.img {
  height: 300px;
  width: 200px;
  background-color: aqua;
  background-size: cover; /* įspaudžia vaizdą į bloką */
  background-position: center; /* centruoja */
  background-repeat: no-repeat; /* nerodo pasikartojančio */
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding-bottom: 2rem;
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
  border-radius: 8px;
}

.img.one {
  background-image: url(./images.jpeg);
}

.img.two {
  background-image: url(./waianapanapa-beach-royalty-free-image-1712088126.avif);
}

.img.three {
  background-image: url(./Black.jpg);
}

.img h4 {
  all: unset;
  color: white;
  font-size: 1rem;
  font-weight: 600;
}

.img h6 {
  all: unset;
  color: white;
  font-size: 0.8rem;
  font-weight: 200;
}

.img hr {
  width: 10%;
}

input {
  padding: 0.5rem;
  border: 3px solid rgb(71, 71, 71);
  margin-top: 0.5rem;
  background-color: rgb(65, 63, 63);
  color: rgb(160, 158, 158);
  outline: 0;
  width: 350px;
}

.sub {
  height: 300px;
  width: 100%;
  background-color: rgb(36, 35, 35);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 4px solid rgb(71, 71, 71);
}

.sub h6 {
  padding: 0.5rem;
}

.sub button {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 10px 20px;
  margin-top: 1rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  cursor: pointer;
}

footer {
  height: 100px;
  width: 100%;
  background-color: rgb(51, 51, 51);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

footer h1 {
  color: white;
}
footer nav ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  text-transform: uppercase;
  list-style: none;
}

footer nav ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 0.5rem;
  font-weight: 400;
  letter-spacing: 4px;
  font-family: Arial, sans-serif;
}
